.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
  margin-top: 50px;
  height: 350px;
  width: 250px;
  border-style: solid;
  border-color: rgb(146, 158, 170);
  border-width: 10px;
  border-radius: 5px;
  
}

.display {
  grid-column: 1 / 5;
  text-align: right;
  font-size: x-large;
  padding: 15px;
  font-family: "Lucida console", monospace;
}

button {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: lightgrey;
  font-family: "Lucida console", monospace;
  font-size: large;
  color: white;
} 

.operator {
  background-color:  rgb(118, 209, 159);
  font-size: 20px;
} 

.factorialize {
  background-color:  rgb(162, 217, 206);
  ;
  font-size: 24px;
}

.iconify {
  position: relative;
  margin-right: -2px;
  /*display: inline;*/
  /*margin: auto;*/
  /*vertical-align: middle;*/
  /*padding-top: 8px;*/
  font-size: 26px;
}

.equals {
  background-color: rgb(67, 179, 117);
  font-size: x-large;
}

.digits {
  background-color: rgb(140, 191, 207);
}

.pos-neg {
  background-color: rgb(61, 113, 129);
}

.clear {
  background-color: lightcoral;
}

.backspace {
   background-color: rgb(236, 140, 140);
 } 

 i.material-icons {
   position: relative;
   padding-top: 3px;
   font-size: 22px;
   
 }

button:active { 
  outline: darkcyan;
  border: darkcyan;
} 

button:focus {
  outline: darkcyan;
  border: darkcyan;
} 

button:hover {
  filter: brightness(110%);
  border-style: solid;
  border-color: snow;
  border-width: 1px;
} 